@import "./scss/helper";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 1;
    transition: 0.1s all ease;
  }
  &.nav-open {
    overflow: hidden;
    &:after {
      height: 100%;
    }
  }
}

* {
  box-sizing: border-box;
}
.container {
  max-width: 1610px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.ant-btn {
  border-radius: 5px;
  padding: 10px 20px;
  line-height: 1;
  height: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  &.ant-btn-gradient-primary {
    background: linear-gradient(92.93deg, #A61215 -82.77%, #DC880A 75.06%);
    box-shadow: 0px 8px 15px rgba(7, 72, 72, 0.15);
    color: #fff;
  }
  &.ant-btn-lg {
    padding: 20px;
    height: auto;
  }
  &.ant-btn-white {
    background: #fff;
    color: #000;
  }
  &.ant-btn-orange {
    background: #F49A26;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(7, 72, 72, 0.15);
  }
  &.ant-btn-black {
    background: #232628;
    color: #fff;
    box-shadow: 0px 17px 33px rgba(81, 81, 81, 0.38);
  }
  &.ant-btn-gray {
    background: #F1F1F1;
    color: #000;
  }
  &.ant-btn-red {
    background: #FD1818;
    box-shadow: 0px 5px 13px rgba(116, 75, 22, 0.22);
    color: #fff;
  }
  &.ant-btn-green {
    background: #04D393;
    box-shadow: 0px 5px 13px rgba(116, 75, 22, 0.22);
    color: #fff;
  }
  &.ant-btn-red-light {
    background: rgba(253, 24, 24, 0.1);
    color: #FD1818;
  }
  &.ant-btn-green-light {
    background: rgba(4, 211, 147, 0.1);
    color: #04D393;
  }
  &.ant-btn-border-less {
    background: transparent;
    color: #F49A26;
  }
  &.ant-btn-borderless-green {
    background: transparent;
    color: #1DB9B5;
  }
  @media (max-width: 767px) {
    padding: 10px;
  }
}

.theme-blue {
  .ant-btn {
    &.ant-btn-gradient-primary {
      background: #1DB9B5;
      box-shadow: 0px 8px 15px rgba(7, 72, 72, 0.15);
    }
  }
}

.g-content {
  color: #232628;
  .multi-heading {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 10px;
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
  }
  h6 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
  }
  p {
    font-size: 18px;
    color: inherit;
    &.small {
      font-size: 14px;
    }
  }
  &.text-white {
    color: #fff;
  }
  @media(max-width: 991px) {
    h2 {
      font-size: 28px;
    }
    h4 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      &.small {
        font-size: 12px;
      }
    }
  }
  @media(max-width: 767px) {
    h2 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    h6 {
      font-size: 14px;
    }
    .multi-heading {
      margin-bottom: 15px;
    }
  }
}

.multi-heading {
  h6 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
  }
  h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.125;
    margin: 0;
    strong, span {
      text-transform: uppercase;
      background: linear-gradient(92.93deg, #A61215 -82.77%, #DC880A 75.06%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;      
    }
    strong {
      display: block;
    }
  }
  @media(max-width: 991px) {
    h2 {
      font-size: 34px;
    }
  }
  @media(max-width: 767px) {
    h2 {
      font-size: 30px;
    }
  }
}

.g-section  {
  padding: 100px 0;
  &.pb-0 {
    padding-bottom: 0;
  }
  @media(max-width: 991px) {
    padding: 50px 0; 
  }  
  @media(max-width: 767px) {
    padding: 30px 0; 
  }  
}

header {
  box-shadow: 0px 8px 13px rgba(7, 72, 72, 0.28);
  padding: 18px 0;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

.burger-container {
  display: inline-block;
  height: 16px;
  width: 25px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  .burger {
    height: 100%;
    position: relative;
    display: block !important;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    padding: 0;
    border: 0;
    .bar {
      width: 100%;
      height: 2px;
      display: block;
      position: relative;
      background: #000;
      transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition-delay: 0s;
      bottom: 5px;
      &.topBar {
        -webkit-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
      }
      &.btmBar {
        bottom: -5px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      z-index: 1;
      background: #000;
    }
  }
  &.nav-active {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    .burger {
      .bar {
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.2s;
        &.topBar {
          -webkit-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
        }
        &.btmBar {
          top: 0;
          -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
        }
      }
      &:before {
        opacity: 0;
      }
    }
  }
  @media (min-width: 767px) {
    display: none;
  }
}

.menu-close {
  display: none !important;
}

.menu-seprator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex: 0 0 100%;
  }
}

.menu-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .menu-section {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .ant-menu {
      border: 0;
      display: flex;
      align-items: center;
      &:before {
        content: none;
      }
      li {
        padding: 0 17px;
        line-height: 1;
        border: 0;
        .ant-menu-title-content {
          display: block;
          width: 100%;
          height: 100%;
        }
        a {
          color: #232628;
          padding-left: 0;
          padding-right: 0;
          display: block;
          width: 100%;
          height: 100%;
          font-weight: 400;
          display: flex;
          align-items: center;
          font-size: 16px;
        }
        &:after {
          content: none;
        }
      }
    }
    .profile-menu {
      padding-left: 10px;
      .ant-menu li {
        a {
          font-weight: 500;
        }
        &:last-child {
          padding: 0;
        }
      }
    }
  }
  &.user-loogedin {
    .menu-section {
      justify-content: space-between;
      .profile-menu {
        .ant-menu li {
          padding: 0 8px;
          .ant-menu-title-content {
            a:not(.ant-dropdown-trigger) {
              .anticon {
                font-size: 24px;
                color: #000;
              }
            }
          }
        }
      }
    }
    .navbar-brand {
      .ant-dropdown-trigger {
        background: #F1F1F1;
        border-radius: 5px;
        padding: 7px;
        p {
          font-weight: 500;
        }
      }
    }
  }
  @media(max-width: 767px) {
    .mobile-icons {
      margin-right: 6px;
      .ant-menu {
        line-height: normal;
        border: 0;
        .ant-menu-item {
          padding: 6px;
          line-height: normal;
          a {
            .anticon {
              font-size: 20px;
            }
          }
        }
        &:after {
          content: none;
        }
      }
    }
    .navbar-brand {
      img {
        max-height: 90px;
      }
    }
    .menu-section {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      max-height: 0;
      overflow: hidden;
      transition: 0.5s all;
      .menu-close {
        display: block !important;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 0;
        font-size: 26px;
        color: #c3c3c3;
      }
      .ant-menu {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        li {
          opacity: 1 !important;
          height: auto !important;
          position: relative !important;
          padding: 15px 30px;
          display: block;
          width: 100%;
          a {
            font-size: 20px;
          }
          &.ant-menu-submenu {
            display: none;
          }
        }
      }
      .profile-menu {
        display: none;
      }
      &.active {
        max-height: 999px;
      }
    }
  }
}

.hero-banner {
  position: relative;
  padding: 225px 0 0;
  margin-bottom: 100px;
  .banner-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: calc(100% - 180px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .g-content {
    margin-bottom: 50px;
    margin-top: 65px;
    p {
      font-size: 20px;
    }
  }
  .ant-btn {
    font-size: 20px;
  }
  .multi-heading {
    h2 {
      text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
      strong {
        color: #F49A26;
        background: transparent;
        -webkit-text-fill-color: #F49A26
      }
    }
  }

  .trustedBy {
    position: absolute;
    top: calc(100% - 160px);
    left: 0;
    right: 0;
    .g-content {
      margin: 0 ;
    }
  }
  @media (max-width: 991px) {
    margin-bottom: 0;
    .g-content {
      margin: 0;
    }
    .trustedBy {
      position: relative;
    }
  }
  @media(max-width: 767px) {
    padding: 180px 0 0;
    .ant-btn {
      font-size: 16px;
    }
    .g-content {
      p {
        font-size: 16px;
      }
    }
    .banner-bg {
      height: 520px;
    }
    .trustedBy {
      margin-top: 20px;
    }
  }
}

.container-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  .ant-radio-button-wrapper {
    height: auto;
    border: 0;
    background: transparent;
    padding: 0;
    &:before {
      content: none;
    }
    
    span:not(.ant-radio-button) {
      border-radius: 5px;
      padding: 10px 55px;
      font-size: 20px;
      color: #232628;
      background: #F1F1F1;
      border: 1px solid #F1F1F1;
      display: block;
    }
    .ant-radio-button-checked { 
      + span {
        background: linear-gradient(92.93deg, #A61215 -82.77%, #DC880A 75.06%);
        color: #fff;
      }
    }
  }
  @media(max-width: 991px) {
    .ant-radio-button-wrapper {
      span:not(.ant-radio-button) {
        padding: 10px 25px;
      }
    }
  }
  @media(max-width: 767px) {
    .ant-radio-button-wrapper {
      span:not(.ant-radio-button) {
        padding: 5px 25px;
        font-size: 12px;
      }
    }
  }
}

.theme-blue {
  .container-type {
    .ant-radio-button-checked { 
      + span {
        background: #1DB9B5;
      }
    }
  }
}
.gen-page {
  .ant-select-selector {
    height: 100% !important;
    .ant-select-selection-search-input {
      height: 100%;
    }
    .ant-select-selection-placeholder {
      line-height: 55px;
    }
  }
  .ant-select .ant-select-arrow {
    color: #000;
  }
  .ant-select-multiple {
    .ant-select-selection-item {
      padding: 3px 20px;
      height: 30px;
      border-radius: 25px;
      border: 0;
      background: #F1F1F1;
      color: #000;
      .ant-select-selection-item-remove {
        margin-left: 10px;
        color: #868686;
      }
    }
  }

  .ant-form-item-label {
    label {
      opacity: 1;
      font-weight: 500;
    }
  }
  label.ant-form-item-label {
    opacity: 1;
    font-weight: 500;
  }
}

.fin-container {
  padding: 50px 45px;
  background: #fff;
  box-shadow: 0px 11px 24px rgba(43, 22, 168, 0.15);
  position: relative;
  z-index: 1;
  .container-head {
    text-align: center;
    margin: 0 0 20px;
    h3 {
      font-size: 32px;
      margin: 0;
      line-height: 1;
    }
    p {
      margin: 0;
    }
  }
  
  .container-body {
    margin-top: 45px;
    .ant-form-item {
      margin-bottom: 0;
      .ant-select-selection-placeholder {
        color: #868686;
      }
      .ant-input-affix-wrapper,
      .ant-select-selector {
        background: #F1F1F1;
        input.ant-input {
          background: inherit;
          &::placeholder {
            color: #868686;
          }
        }
      }
      .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
        display: flex;
        align-items: center;
      }
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }

  &.parallel {
    box-shadow: 0px 19px 49px rgba(11, 119, 116, 0.34);
    border-radius: 20px; 
    padding: 30px 45px;
    .container-body {
      margin-top: 25px;
      .ant-form-item {
        margin-bottom: 0;
        .ant-select-selection-placeholder {
          color: #868686;
        }
        .ant-input-affix-wrapper,
        .ant-select-selector {
          background: #fff;
          input.ant-input {
            background: inherit;
            &::placeholder {
              color: #868686;
            }
          }
        }
        .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
          display: flex;
          align-items: center;
        }
        &:not(:last-child) {
          margin-bottom: 60px;
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding: 25px 20px;
    .container-body {
      .ant-form-item:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &.parallel {
      padding: 20px 15px;
      .container-body {
        .ant-form-item {
          margin-bottom: 15px;
        }
        .ant-col {
          flex: 0 0 100%;
        }
      }
    }
  }
  @media (max-width: 767px) {
    border-radius: 8px;
    margin-top: 30px;   
    .container-body {
      margin-top: 25px;
      .ant-form-item:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}

.companies {
  width: 100%;
  display: block;
}

.company-box {
  padding: 0 9px;
}

.company-sec {
  background: #FFFFFF;
  border: 1px solid #CAC1D9;
  border-radius: 5px;
  padding: 23px 20px 40px;
  .company-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .brand-logo {
      margin: 0 0 13px;
      width: 145px;
      height: 145px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #CAC1D9;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }
  }
  .company-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 0;
    p {
      font-size: 16px;
      text-align: center;
      color: #232628;
      font-weight: 600;
      padding: 5px 24px;
      small {
        color: #727272;
        font-size: 14px;
        font-weight: 400;
        display: block;
      }
      &:not(:last-child) {
        border-right: 1px solid #CAC1D9;
      }
    }
  }
  @media(max-width: 767px) {
    .company-desc {
      margin: 25px 0 0;
      p {
        padding: 5px 15px;
        margin: 0;
      }
    }
  }
}

p.rating {
  font-size: 16px;
  margin: 5px 0 0;
  .anticon {
    color: #F49A26;
    font-size: 18px;
  }
  small {
    font-size: 14px;
    color: #727272;
  }
  @media(max-width: 767px) {
    font-size: 14px;
    .anticon {
      font-size: 16px;
    }
    small {
      font-size: 12px;
    }
  }
}

.container-box {
  padding: 0 9px;
  &.p-0 {
    padding: 0;
  }
  .container-content {
    background: #FFFFFF;
    border: 1px solid #CAC1D9;
    border-radius: 5px;
    .container-image {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .container-image-name {
      display: flex;
      align-items: center;
      margin: 0 0 10px;
      .ant-avatar {
        margin-right: 5px;
      }
      h3 {
        margin: 0;
        font-weight: 600;
        font-size: 16px;
      }
      .company-status {
        margin-left: 8px;
      }
    }
    .container-desc {
      padding: 10px 17px 17px;
      .container-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
      p.rating {
        text-align: center;
        small {
          display: block;
        }
      }
      .shippment-off {
        display: flex;
        align-items: center;
        margin: 0;
        filter: blur(5px);
        font-size: 16px;
        .shipment-icon {
          width: 28px;
          height: 28px;
          border-radius: 100%;
          overflow: hidden;
          border: 1px solid #E9E9E9;
          margin-right: 5px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    .end-points {
      padding: 20px 10px 0;
      .ant-timeline-item-last {
        padding: 0;
      }
    }
    &.parallel {
      display: flex;
      .container-image {
        height: 200px;
        width: 285px;
        flex: 0 0 285px;
      }
      .container-desc {
        padding: 20px 32px 30px;
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .container-name {
          justify-content: flex-start;
          h4 {
            font-size: 18px;
            line-height: 1.12;
          }
          p.rating {
            margin-left: 10px;
            small {
              display: inline;
            }
          }
        }
      }
      .end-points {
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        .ant-timeline-item:not(.ant-timeline-item-last) {
          padding-bottom: 70px;
        }
      }
      @media(max-width: 767px) {
        flex-wrap: wrap;
        .container-image, 
        .end-points {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .end-points {
          padding: 15px 15px 0;
          .ant-timeline-item:not(.ant-timeline-item-last) {
            padding-bottom: 20px;
          }
        }
        .container-desc {
          flex: 0 0 100%;
          max-width: 100%;
          padding: 15px 10px;
          .availibility {
            margin-top: 10px;
          }
        }
      }
    }
  }
  &.available-container-box {
    .container-content {
      &.parallel {
        .container-desc {
          padding: 20px;
        }
        .req-section {
          padding: 15px 25px 20px;
          flex: 0 0 40%;
          display: flex;
          align-items: center;
          .end-points {
            flex: auto;
            .ant-tag {
              padding: 3px 10px;
            }
          }
          .req-charges {
            text-align: right;
            .req-btns {
              margin-top: 80px;
              .ant-btn {
                height: 43px;
              }
              img {
                max-height: 21px;
              }
              .icon-only {
                font-size: 21px;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
                .anticon {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    } 
    @media(max-width: 767px) {
      .container-content.parallel {
        .container-image-name {
          h3 {
            font-size: 14px;
          }
          span {
            font-size: 14px;
          }
        }
        .container-desc {
          padding: 12px;
          .terms {
            margin-top: 10px;
          }
        }
        .req-section {
          padding: 0;
          flex: 0 0 100%;
          flex-wrap: wrap;
          width: 100%;
          .end-points {
            flex: 0 0 100%;
          }
          .container-status {
            width: 100%;
            overflow: auto;
            margin-top: 15px;
          }
          .req-charges {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            padding: 10px 12px;
            .req-btns {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.offer-sec {
  @media (max-width: 767px) {
    .desc-box {
      padding: 20px 10px;
    }
    .ant-table-wrapper .ant-table-thead >tr>td {
      padding: 0;
      border: 0;
      &:before {
        content: none !important;
      }
    }
  }
}

.fact-figs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 55px;
  row-gap: 15px;

  .single-fact {
    flex: 0 0 20%;
    box-sizing: border-box;
    .fact-fig {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 185px;
      height: 185px;
      border-radius: 100%;
      border: 10px solid #313340;
      margin: 0 auto 15px;
    }
  }
  @media (max-width: 991px) {
    justify-content: center;
    .single-fact {
      flex: 0 0 33.33%;
    }
  }
  @media (max-width: 767px) {
    .single-fact {
      flex: 0 0 50%;
      .fact-fig {
        width: 155px;
        height: 155px;
      }
    }
  }
}

.ant-tag {
  background: #F1F1F1;
  border-radius: 26px;
  padding: 3px 20px;
  font-size: 14px;
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 3px 10px;
  }
}

.trade-img-desc {
  .image-content-box {
    position: relative;
    padding-right: 80px;
    padding-bottom: 60px;
    .image-box {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .content-box {
      background: #FFFFFF;
      box-shadow: 21px 22px 49px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 25px 28px;
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 460px;
    }
    @media(max-width: 991px) {
      padding-right: 40px;
      .content-box {
        padding: 15px 10px;
        .g-content {
          p {
            margin: 0;
          }
        }
      }
    }
    @media (max-width: 767px) {
      padding-right: 0;
      .content-box {
        max-width: 320px;
        margin: 0 auto;
        left: 0;
      }
    }
  }
  + .trade-img-desc {
    padding-top: 100px;
    @media(max-width: 991px) {
      padding-top: 50px;
    }
    @media(max-width: 767px) {
      padding-top: 30px;
    }
  }
  @media(min-width: 767px) {
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
  @media(max-width: 767px) {
    .trade-cont-desc {
      padding: 43px 0;
    }
  }
}

.companies-list {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  .ant-avatar {
    transition: all 0.3s ease 0s;
    margin-inline-end: -8px; 
  }
  p {
    color: #949494;
    margin: 0;
    margin-left: 15px;
  }
}


.arrows-slider .slick-slider {
  padding: 0 30px;
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    border-radius: 100%;
    box-shadow: none;
    background: transparent;
    color: #ADADAD;
    border: 0;
    font-size: 38px;
    padding: 0;
    cursor: pointer;
    &:hover {
      color: #747373;
    }
    &.slick-prev {
      left: -10px;
    }
    &.slick-next {
      right: -10px;
    }
  }
  @media(max-width: 767px) {
    padding: 0;
  }
}

.container-facts {
  background: #F3F3F3;
  padding: 90px 0 240px;
  margin-bottom: -140px;
  @media(max-width: 767px) {
    margin-bottom: -190px;
  }
}

.news-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.foot-section {
  position: relative;
  padding-top: 140px;
}

.newsletter-box {
  background: #FFFFFF;
  box-shadow: 0px 19px 49px rgba(11, 119, 116, 0.34);
  border-radius: 20px;
  padding: 73px 90px;
  margin-bottom: -150px;
  position: relative;
  @media(max-width: 767px) {
    padding: 30px 20px;
    .newletter-input {
      margin-top: 50px;
    }
  }
}

.newletter-input {
  .ant-input-affix-wrapper {
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #C6C6C6 !important;
    .ant-input-prefix {
      margin-right: 20px;
    }
    .anticon {
      color: #CBCBCB;
      font-size: 20px;
    }
    .ant-input {
      font-size: 20px !important;
      color: #CBCBCB;
    }
  }
}

.footer-overlay {
  background: url('../src/images/footer-bg.png') no-repeat center;
  background-size: cover;
  .footer-menu-section {
    padding: 240px 0 188px;
    color: #fff;
    .container {
      padding: 0 60px;
    }
  }
  @media(max-width: 767px) {
    .footer-menu-section {
      padding: 160px 0 40px;
      .container {
        padding: 0 15px;
      }
    }
  }
}

.menu-section {
  .menu-header {
    margin: 0 0 30px;
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }
  }
}

.cta-link {
  display: flex;
  align-items: center;
  span {
    margin-right: 5px;
  }
  a {
    color: inherit;
  }
  + .cta-link {
    margin-top: 15px;
  }
}

.menu-section  {
  ul.menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
      color: inherit;
      font-weight: 400;
    }
  }
}

.cpr {
  background: #2A2C38;
  color: #fff;
  padding: 30px 0;
  @media(max-width: 767px) {
    text-align: center;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 10px;
    gap: 10px;
    a {
      color: #1DB9B5;
      font-size: 20px;
    }
  }
  @media(max-width: 767px) {
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }
}

.gen-page {
  &.theme-blue {
    .footer-overlay {
      background: url('../src/images/footer-bg-blue.png') no-repeat center;
      background-size: cover;
    }
  }
}
.gen-banner {
  width: 100%;
  height: 550px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 767px) {
    height: 480px;
  }
}

.inner-layout {
  margin-top: -280px;
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
  @media (max-width: 767px) {
    padding-bottom: 80px;
  }
}

.pg-banner-content {
  padding-bottom: 110px;
  @media (max-width: 767px) {
    padding-bottom: 0;
  }
}

.paring-section {
  padding: 90px 50px 150px;
  background: #FFFFFF;
  box-shadow: 0px 19px 49px rgba(11, 119, 116, 0.34);
  border-radius: 20px;
  @media (max-width: 767px) {
    padding: 30px 15px 20px;
  }
}

.price-plan {
  padding: 100px 45px 30px;
  border-radius: 15px;
  .plan-head {
    margin: 0 0 16px;
    h2 {
      margin: 0;
      color: #231D4F;
      font-weight: 700;
      font-size: 46px;small {
        color: #848199;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
  .plan-content {
    h3 {
      font-size: 28px;
      font-weight: 500;
      margin: 0;
    }
    p {
      color: #848199;
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }
    ul {
      min-height: 225px;
      list-style: none;
      padding: 0;
      margin: 30px 0;
      li {
        color: #848199;
        padding: 9px 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        i {
          width: 28px;
          height: 28px;
          border-radius: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background: rgba(82, 67, 194, 0.15);
          color: #BB6BD9;
          margin-right: 15px;
          font-size: 16px;
        }
      }
    }
  }
  &.popular {
    background: #1DB9B5;
    box-shadow: 0px 65.1724px 52.7586px rgba(29, 185, 181, 0.2958);
    color: #fff;
    .plan-head {
      h2, small {
        color: inherit;
      }
    }
    .plan-content {
      p {
        color: #fff;
      }
      ul {
        li {
          color: inherit;
          i {
            color: inherit;
          }
        }
      }
    }
    .ant-tag {
      position: absolute;
      top: 30px;
      right: 45px;
      padding: 8px 24px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 25px;
    }
  }
  @media (max-width: 767px) {
    padding: 70px 15px 15px;
    .plan-head {
      h2 {
        font-size: 40px;
        small {
          font-size: 16px;
        }
      }
    }
    .plan-content {
      h3 {
        font-size: 24px;
      } 
      p {
        font-size: 16;
      }
      ul {
        li {
          font-size: 16px;
          i {
            width: 22px;
            height: 22px;
            margin-right: 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
}


.login-body {
  padding: 20px;
  .login-head {
    .icon-circle {
      border-radius: 100%;
      border: 5px solid #dedede;
      width: 120px;
      height: 120px;
      margin: 0 auto 15px;
      font-size: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.success {
        color: #04D393;
      }
    }
    h2 {
      margin: 0;
      font-size: 31px;
      font-weight: 600;
    }
    p {
      color: #848484;
      font-size: 16px;
      margin: 0;
      a {
        font-weight: 700;
        color: #F49A26;
      }
    }
  }
  .login-content {
    form {
      margin: 20px 0 50px;
    }
    label {
      color: #000;
      font-size: 16px;
    }
    .ant-btn {
      margin-top: 25px;
    }
  }
  a {
    color: #1DB9B5;
  }
  p.new-account {
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: #232628;
  }
  &.on-container {
    max-width: 650px;
    margin: 0 auto;
    box-shadow: 0px 11px 24px rgba(43, 22, 168, 0.15); 
  }
  @media (max-width: 767px) {
    padding: 0;
    .login-head {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    .login-content {
      label {
        font-size: 14px;
      }
      form {
        margin: 20px 0;
        .ant-form-item {
          margin: 0 0 15px;
        }
      }
    }
    p.new-account {
      font-size: 14px;
    }
  }
}

.ant-modal {
  .ant-modal-close {
    border-radius: 100%;
    border: 1px solid #000;
    color: #000;
    opacity: 0.5;
    transition: 0.25s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-modal-close-x {
      font-size: 12px;
      line-height: 12px;
    }
    &:hover {
      opacity: 1;
      background: transparent;
    }
  }
}

.nobanner-layout {
  padding: 240px 0 90px;
  @media (max-width: 767px) {
    padding: 170px 0 80px;
  }
}

.profile-setup {
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  border-radius: 5px;
  padding: 55px 45px;
  .profile-wizard {
    margin-top: 45px;

    .single-upload {
      .ant-upload-wrapper {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #CAC1D9;
        border-radius: 5px;

        .ant-btn {
          border: 0;
          background: #F1F1F1;
          height: 60px;
        }
        .ant-upload-list {
          margin-left: 10px;
          .ant-upload-list-item {
            margin-top: 0;
          }
        }
      }
    }

    .step-content {
      margin-top: 45px;
    }

    .sections-detail {
      border-top: 1px solid #868686;
      padding: 45px 0;
      h4 {
        font-size: 18px;
      }
      .profile-name {
        display: flex;
        align-items: center;
        margin-top: 30px;
        .ant-avatar {
          border: 1px solid #CAC1D9;
          margin-right: 15px;
        }
      }
      .profile-detail {
        p {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;
          margin: 0;
          padding: 5px 0;
        }
      }
    }
  

    .ant-steps {
      .ant-steps-item-title {
        color: #898F8F;
        white-space: nowrap;
      }
      .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: #898F8F;
      }
      .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: #F49A26;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 20px 0;
    border: 0;
    .profile-wizard {
      .step-content {
        margin-top: 10px;
        .ant-btn {
          width: 100%;
        }
      }
    }
  }
}

.image-upload {
  .uploader {
    position: relative;
    .editIcon {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #1DB9B5;
      position: absolute;
      left: calc(100% - 25px);
      top: calc(100% + 9px);
      img {
        max-width: 20px;
      }
    } 
  }
  .ant-upload-wrapper.ant-upload-picture-circle-wrapper {
    text-align: center;
    .ant-upload.ant-upload-select {
      margin: 0;
      width: 150px;
      height: 150px;
      .anticon {
        font-size: 20px;
      }
    }
  }
}

.lease-requirment {
  border: 1px solid #868686;
  border-radius: 5px;
  padding: 30px 25px;
  margin: 0 0 50px;
  .lease-content {
    h3 {
      font-size: 18px;
      font-weight: 500;
      color: #232628;
      margin: 0;
    }
    .container-type {
      justify-content: flex-start;
      margin: 15px 0;
    }
    .ant-radio-button-wrapper span:not(.ant-radio-button) {
      padding: 8px 14px;
      font-size: 16px;
      min-width: 110px;
      text-align: center;
    }
  }
  @media (max-width: 767px) {
    padding: 25px 15px;
  }
}



.lease-filter {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  flex-wrap: wrap;
  .single-filter {
    min-width: 205px;
    .ant-form-item {
      margin: 0;
      .ant-form-item-label {
        color: #868686;
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 5px;
      }
      .form-field {
        display: flex;
        align-items: center;
        color: #CBCBCB;
        gap: 10px;
        .icon {
          font-size: 20px;
        }
        .ant-select-selector {
          border: 0;
          color: #000;
          padding: 0;
          /* height: 55px !important; */
          .ant-select-selection-placeholder {
            line-height: 30px;
            color: #000;
          }
        }
      }
    }
  }
  @media(max-width: 767px) {
    row-gap: 15px;
    .single-filter {
      flex: 0 0 calc(50% - 7.5px);
      max-width: calc(50% - 7.5px);
      min-width: auto;
      .ant-form-item .ant-form-item-label {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.sort-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  .sort-single {
    p {
      color: #868686;
      font-size: 14px;
      font-weight: 600;
    }
  }
  @media (max-width: 767px) {
    justify-content: flex-start;
    .sort-single {
      margin: 10px 0;
    }
  }
}

.supplier-list {
  margin-top: 36px;
  margin-bottom: 25px;
}

.ant-pagination {
  background: #F1F1F1;
  border-radius: 5px;
  overflow: hidden;
  .ant-pagination-prev, 
  .ant-pagination-next,
  .ant-pagination-options {
    display: none;
  }
  .ant-pagination-item {
    background: #F1F1F1;
    color: #232628;
    margin-inline-end: 0;
    border-radius: 0;
    border: 0;
    width: auto;
    height: auto;
    a{
      color: inherit;
      padding: 5px 20px;
      display: block;
    }
    &.ant-pagination-item-active {
      background: #1DB9B5;
      color: #fff;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.form-details {
  .g-content {
    margin-top: 40px;
  }
  .ant-form-item-label {
    opacity: 1;
    font-weight: 500;
  }
}

.company-status {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  margin: 0;
  color: #868686;
  span {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #868686;
  }
  &.online {
    color: #04D393;
    span {
      background: #04D393;
    }
  }
}

.progress-counter {
  p {
    font-size: 14px;
  }
  .ant-progress.ant-progress-circle .ant-progress-text {
    font-size: 12px;
    transform: scale(0.75) translateY(-63%);
    font-weight: 500;
  }
}

.accounts-dashboard {
  background: #fff;
}

.acc-sidebar {
  border: 1px solid #C2C2C2;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  .sidebar-header {
    background: #F49A26;
    color: #fff;
    padding: 15px 10px;
    h3 {
      font-weight: 500;
      margin: 0;
    }
  }
  .sidebar-body {
    .ant-menu-item {
      a {
        color: #232628;
        font-weight: 500;
        padding-left: 15px;
        display: block;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background: #F49A26;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.ant-menu-item-selected {
        background: transparent;
        a {
          font-weight: 600;
        }
      }
    }
  }
  .sidebar-footer {
    padding: 15px 10px;
    a {
      color: #FD1818;
      font-weight: 500;
      .anticon {
        margin-right: 5px;
        transform: rotate(180deg);
      }
    }
  }
}

.acc-section-wrapper {
  padding-left: 30px;
  .wrapper-header {
    .ant-btn {
      img {
        max-height: 24px;
      }
    }
  }
  .wrapper-body {
    padding: 50px 0;
    .image-upload {
      margin-bottom: 50px;
      .ant-upload-wrapper.ant-upload-picture-circle-wrapper {
        text-align: left;
      }
    }
    .subscription-box {
      margin: 20px 0 50px;
    }
  }
  @media (max-width: 767px) {
    padding-left: 0;
    margin-top: 30px;
  }
}

.subscription-box {
  background: #F1F1F1;
  border-radius: 5px;
  padding: 35px;
  .subs-upgrage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .package-type {
    h2 {
      font-size: 50px;
      margin: 0;
      line-height: 1;
      small {
        font-size: 24px;
        font-weight: 500;
        color: #868686;
      }
    }
    h3 {
      color: #232628;
      font-weight: 500;
      margin: 0;
      font-size: 38px;
    }
  }
  @media (max-width: 767px) {
    padding: 15px;
    .package-type {
      h2 {
        font-size: 32px;
        small {
          font-size: 16px;
        }
      }
      h3 {
        font-size: 24px;
      }
    }
  }
}

table.table {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(134, 134, 134, 0.5);
  border-radius: 5px;
  border-collapse: collapse;
  th {
    padding: 26px;
    text-align: left;
    border-bottom: 1px solid rgba(134, 134, 134, 0.5);
    &:not(:last-child) {
      border-right: 1px solid rgba(134, 134, 134, 0.5);
    }
  }
  tr {
    td {
      padding: 26px;
      .ant-btn {
        padding: 10px;
        border-radius: 5px;
        height: 38px;
        img {
          max-height: 18px;
        }
      }
      &:not(:last-child) {
        border-right: 1px solid rgba(134, 134, 134, 0.5);
      }
    }
    &:not(:last-child) {
      td {
        border-bottom: 1px solid rgba(134, 134, 134, 0.5);
      }
    }
  }
}

.container-request-tabs {
  .container-box {
    .container-content {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .container-tabs {
    .ant-tabs {
      .ant-tabs-nav {
        border: 1px solid #CAC1D9;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-right: 40px;
        .ant-tabs-tab {
          padding: 14px 40px;
          font-size: 16px;
          position: relative;
          margin: 0;
          .with-count {
            display: flex;
            align-items: center;
            justify-content: center;
            .count {
              margin-left: 5px;
              background: #F23F3F;
              color: #fff;
              font-size: 10px;
              line-height: 1;
              min-width: 15px;
              min-height: 15px;
              border-radius: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 2px 5px;
            }
          }
          &:not(:last-child) {
            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              bottom: 0;
              transform: translateY(-50%);
              height: calc(100% - 28px);
              width: 1px;
              background: #CAC1D9;
            }
          }
        }
      }
      .ant-tabs-ink-bar {
        height: 3px;
      }
      .ant-tabs-content-holder {
        margin-top: 50px;
      }
    }
    @media(max-width: 767px) {
      .ant-tabs {
        .ant-tabs-nav {
          padding-right: 0;
          .ant-tabs-tab {
            padding: 14px;
            font-size: 14px;
          }
        }
        .ant-tabs-nav-operations,
        .ant-tabs-extra-content {
          display: none;
        }
      }
    }
  }
}

.desc-box {
  border: 1px solid #A8A8A8;
  border-radius: 5px;
  padding: 25px 30px;
  margin: 0 0 40px;
  &.containers-track {
    max-height: 700px;
    display: flex;
    flex-direction: column;
    padding: 0;
    .g-content {
      padding: 16px;
    }
    .container-boxes {
      flex: auto;
      overflow: auto;
      padding: 0 16px 16px;
      @extend %base-scroll;
      .box-sec {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      .box-no {
        flex: 0 0 calc(50% - 5px);
        border: 1px solid #D9D9D9;
        border-radius: 6px;
        padding: 12px 16px;
        transition: 0.25s all linear;
        cursor: pointer;
        h4 {
          font-weight: 600;
        }
        &:hover {
          background: #F49A26;
          color: #fff;
          border-color: #F49A26;
        }
      }
    }
  }
  @media(max-width: 767px) {
    padding: 20px 12px;
    &.containers-track {
      .g-content {
        padding: 12px;
      }
      .container-boxes {
        .box-sec {
          gap: 0;
          row-gap: 10px;
          flex-direction: column;
        }
      }
    }
  }
}

.specs p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
  font-size: 14px;
  margin: 10px 0;
}

.async-slider {
  background: #000000;
  border-radius: 5px;
  .large-slider {
    .large-child {
      height: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .child-slider {
    .child-img {
      padding: 18px 7px;
      height: 133px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: contrast(0.15) brightness(0.25);
        border: 1px solid transparent;
        border-radius: 4px;
      }
    }
    .slick-current {
      .child-img {
        img {
          border-color: #fff;
          filter: none;
        }
      }
    }
  }
  &.arrows-slider .slick-slider {
    padding: 0;
    .slick-arrow {
      &.slick-prev {
        left: 24px;
      }
      &.slick-next {
        right: 24px;
      }
    }
  }
  @media(max-width: 767px) {
    .large-slider .large-child {
      height: 260px;
    }
    .child-slider .child-img {
      height: 95px;
    }
  }
}

.track-rec {
  h4 {
    font-size: 16px;
    color: #232628;
    margin: 0;
  }
  p {
    color: #868686;
    margin: 0;
  }
}

.container-status {
  .ant-steps {
    .ant-steps-item-tail {
      top: 21px
    }
    .ant-steps-item-custom {
      .ant-steps-item-icon {
        border: 1px solid #D1D1D1;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        position: relative;
        .ant-steps-icon {
          max-height: 25px;
          max-width: 25px;
        }
        svg {
          max-height: 100%;
          path {
            opacity: 0.2;
          }
        }
      }
      &.ant-steps-item-process {
        .ant-steps-item-icon {
          svg {
           path {
            fill: #F49A26;
            opacity: 1;
           } 
          }
        } 
        .ant-steps-item-content {
         .ant-steps-item-title {
          font-weight: 600;
          opacity: 1;
         } 
        }
      }
      &.ant-steps-item-finish {
        .ant-steps-item-icon {
          svg {
           path {
            opacity: 1;
           } 
          }
        } 
        .ant-steps-item-content {
          .ant-steps-item-title {
           opacity: 1;
          } 
        }
      }
    } 
    &.ant-steps-label-vertical .ant-steps-item-content {
      margin-left: 15px;
      margin-top: 0;
      .ant-steps-item-title {
        font-size: 12px;
        color: #9D9D9D;
        font-weight: 500;
        opacity: 0.2;
      }
    }
  }
}

.tacking-rows {
  margin-top: 40px;
  .container-box {
    cursor: pointer;
    + .container-box {
      margin-top: 35px;
    }
  }
}

.track-tab {
  .desc-box {
    height: 100%;
    &:not(.containers-track).track-sheet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.badge-box {
  background: #F1F1F1;
  border-radius: 6px;
  overflow: hidden;
  padding: 17px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  .badge-info {
    display: flex;
    align-items: center;
    flex: auto;
    gap: 8px;
    .badge-desc {
      h5 {
        display: flex;
        align-items: center;
        gap: 7px;
        .anticon {
          font-size: 18px;
        }
      }
    }
  }
}

.reviews {
  display: flex;
  gap: 13px;
  .ant-avatar {
    flex: 0 0 auto;
  }
  .review-desc {
    flex: auto;
  }
  @media(max-width: 767px) {
    h2 {
      font-size: 18px;
    }
    .ant-rate {
      font-size: 16px;
    }
  }
}

.url-clipboard {
  background: #F1F1F1;
  border-radius: 5px;
  padding: 4px 10px;
  .ant-typography {
    margin: 0;
    .anticon {
     color: #868686; 
    }
  }
}

.notify-box {
  border: 1px solid #CAC1D9;
  border-radius: 8px;
  min-height: 500px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 50px;
  .notify-body {
    flex: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
    @extend %base-scroll;
    .notify-single {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .reviews {
        padding: 15px 40px;
      }
      .badge-box {
        margin-top: 5px;
      }
      &.unread {
        background: #D5E9FC;
      }
    }
  }
  .notify-footer {
    border-top: 1px solid #CAC1D9;
  }
  @media(max-width: 767px) {
    margin-top: 20px;
    .notify-body .notify-single {
      .reviews {
        padding: 12px;
        h2 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
      .badge-box {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}

.table-responsive {
  width: 100%;
  overflow: auto;
}

.size-100 {
  width: 100px;
  height: 100px;
  @media(max-width: 767px) {
    width: 60px;
    height: 60px;
  }
}

.scroll-x {
  overflow: auto;
}

