@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
.container {
  max-width: 1610px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.ant-btn {
  border-radius: 5px;
  padding: 10px 20px;
  line-height: 1;
  height: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  .anticon {
    margin-right: 5px;
  }
  &.ant-btn-gradient-primary {
    background: linear-gradient(92.93deg, #A61215 -82.77%, #DC880A 75.06%);
    box-shadow: 0px 8px 15px rgba(7, 72, 72, 0.15);
    color: #fff;
  }
  &.ant-btn-lg {
    padding: 20px;
    height: auto;
  }
  &.ant-btn-white {
    background: #fff;
    color: #000;
  }
  &.ant-btn-orange {
    background: #F49A26;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(7, 72, 72, 0.15);
  }
}

.theme-blue {
  .ant-btn {
    &.ant-btn-gradient-primary {
      background: #1DB9B5;
      box-shadow: 0px 8px 15px rgba(7, 72, 72, 0.15);
    }
  }
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-theme {
  color: #F49A26;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.g-content {
  color: #232628;
  .multi-heading {
    margin-bottom: 30px;
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
  }
  h6 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
  }
  p {
    font-size: 18px;
    color: inherit;
  }
  &.text-white {
    color: #fff;
  }
}

.multi-heading {
  h6 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
  }
  h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.125;
    margin: 0;
    strong, span {
      text-transform: uppercase;
      background: linear-gradient(92.93deg, #A61215 -82.77%, #DC880A 75.06%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;      
    }
    strong {
      display: block;
    }
  }
}

.g-section  {
  padding: 100px 0;
  &.pb-0 {
    padding-bottom: 0;
  }
}

header {
  box-shadow: 0px 8px 13px rgba(7, 72, 72, 0.28);
  padding: 18px 0;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

.menu-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .menu-section {
    display: flex;
    align-items: center;
    .ant-menu {
      border: 0;
      display: flex;
      align-items: center;
      &:before {
        content: none;
      }
      li {
        padding: 0 17px;
        line-height: 1;
        border: 0;
        .ant-menu-title-content {
          display: block;
          width: 100%;
          height: 100%;
        }
        a {
          color: #232628;
          padding-left: 0;
          padding-right: 0;
          display: block;
          width: 100%;
          height: 100%;
          font-weight: 400;
          display: flex;
          align-items: center;
          font-size: 16px;
        }
        &:after {
          content: none;
        }
      }
    }
    .profile-menu {
      padding-left: 10px;
      .ant-menu li {
        a {
          font-weight: 500;
        }
        &:last-child {
          padding: 0;
        }
      }
    }
  }
}

.hero-banner {
  position: relative;
  padding: 225px 0 0;
  margin-bottom: 100px;
  .banner-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: calc(100% - 180px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .g-content {
    margin-bottom: 50px;
    margin-top: 65px;
    p {
      font-size: 20px;
    }
  }
  .ant-btn {
    font-size: 20px;
  }
  .multi-heading {
    h2 {
      text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
      strong {
        color: #F49A26;
        background: transparent;
        -webkit-text-fill-color: #F49A26
      }
    }
  }

  .trustedBy {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    .g-content {
      margin: 0 ;
    }
  }
}

.container-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .ant-radio-button-wrapper {
    height: auto;
    border: 0;
    background: transparent;
    padding: 0;
    
    span:not(.ant-radio-button) {
      border-radius: 5px;
      padding: 10px 55px;
      font-size: 20px;
      color: #232628;
      background: #F1F1F1;
      border: 1px solid #F1F1F1;
      display: block;
    }
    .ant-radio-button-checked { 
      + span {
        background: linear-gradient(92.93deg, #A61215 -82.77%, #DC880A 75.06%);
        color: #fff;
      }
    }
  }
}

.fin-container {
  padding: 50px 45px;
  background: #fff;
  box-shadow: 0px 11px 24px rgba(43, 22, 168, 0.15);
  position: relative;
  z-index: 1;
  .container-head {
    text-align: center;
    margin: 0 0 20px;
    h3 {
      font-size: 32px;
      margin: 0;
      line-height: 1;
    }
    p {
      margin: 0;
    }
  }
  
  .container-body {
    margin-top: 45px;
    .ant-form-item {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 60px;
      }
      .ant-select-selector {
        height: 100%;
        .ant-select-selection-search-input {
          height: 100%;
        }
        .ant-select-selection-placeholder {
          line-height: 55px;
        }
      }
    }
  }

  &.parallel {
    box-shadow: 0px 19px 49px rgba(11, 119, 116, 0.34);
    border-radius: 20px; 
    padding: 30px 45px;
    .container-body {
      margin-top: 25px;
    }
    .ant-radio-button-checked { 
      + span {
        background: #1DB9B5;
      }
    }
  }
}

.companies {
  width: 100%;
  display: block;
  max-width: 1580px;
}

.company-box {
  padding: 0 9px;
}

.company-sec {
  background: #FFFFFF;
  border: 1px solid #CAC1D9;
  border-radius: 5px;
  padding: 23px 20px 40px;
  .company-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .brand-logo {
      margin: 0 0 13px;
      width: 145px;
      height: 145px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #CAC1D9;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }
  }
  .company-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 0;
    p {
      font-size: 16px;
      text-align: center;
      color: #232628;
      font-weight: 600;
      padding: 5px 24px;
      small {
        color: #727272;
        font-size: 14px;
        font-weight: 400;
        display: block;
      }
      &:not(:last-child) {
        border-right: 1px solid #CAC1D9;
      }
    }
  }
}

p.rating {
  font-size: 16px;
  margin: 5px 0 0;
  .anticon {
    color: #F49A26;
    font-size: 18px;
  }
  small {
    font-size: 14px;
    color: #727272;
  }
}

.container-box {
  padding: 0 9px;
  .container-content {
    background: #FFFFFF;
    border: 1px solid #CAC1D9;
    border-radius: 5px;
    .container-image {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .container-desc {
      padding: 10px 17px 17px;
      .container-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
      p.rating {
        text-align: center;
        small {
          display: block;
        }
      }
      .shippment-off {
        display: flex;
        align-items: center;
        margin: 0;
        filter: blur(5px);
        font-size: 16px;
        .shipment-icon {
          width: 28px;
          height: 28px;
          border-radius: 100%;
          overflow: hidden;
          border: 1px solid #E9E9E9;
          margin-right: 5px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    .end-points {
      padding: 20px 10px 0;
      .ant-timeline-item-last {
        padding: 0;
      }
    }
    &.parallel {
      display: flex;
      .container-image {
        height: 200px;
        width: 285px;
        flex: 0 0 285px;
      }
      .container-desc {
        padding: 20px 32px 30px;
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .container-name {
          justify-content: flex-start;
          h4 {
            font-size: 20px;
          }
          p.rating {
            margin-left: 10px;
            small {
              display: inline;
            }
          }
        }
      }
      .end-points {
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        .ant-timeline-item:not(.ant-timeline-item-last) {
          padding-bottom: 70px;
        }
      }
    }
  }
}

.image-content-box {
  position: relative;
  padding-right: 80px;
  padding-bottom: 60px;
  .image-box {
    .image-box {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .content-box {
    background: #FFFFFF;
    box-shadow: 21px 22px 49px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 25px 28px;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 460px;
  }
}

.companies-list {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  .ant-avatar {
    transition: all 0.3s ease 0s;
    margin-inline-end: -8px; 
  }
  p {
    color: #949494;
    margin: 0;
    margin-left: 15px;
  }
}

.availibility .ant-tag {
    background: #F1F1F1;
    border-radius: 26px;
    padding: 3px 20px;
    font-size: 14px;
}

.arrows-slider .slick-slider {
  padding: 0 30px;
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    box-shadow: none;
    background: transparent;
    color: #ADADAD;
    border: 0;
    font-size: 38px;
    padding: 0;
    cursor: pointer;
    &:hover {
      color: #747373;
    }
    &.slick-prev {
      left: -10px;
    }
    &.slick-next {
      right: -10px;
    }
  }
}

.container-facts {
  background: #F3F3F3;
  padding: 90px 0 240px;
  margin-bottom: -140px;
}

.single-fact {
  margin: 65px 0 0;
  .fact-fig {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 185px;
    border-radius: 100%;
    border: 10px solid #313340;
    margin: 0 0 15px;
  }
}

.news-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.foot-section {
  position: relative;
  padding-top: 140px;
}

.newsletter-box {
  background: #FFFFFF;
  box-shadow: 0px 19px 49px rgba(11, 119, 116, 0.34);
  border-radius: 20px;
  padding: 73px 90px;
  margin-bottom: -150px;
  position: relative;
}

.newletter-input {
  .ant-input-affix-wrapper {
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #C6C6C6 !important;
    .ant-input-prefix {
      margin-right: 20px;
    }
    .anticon {
      color: #CBCBCB;
      font-size: 20px;
    }
    .ant-input {
      font-size: 20px !important;
      color: #CBCBCB;
    }
  }
}

.footer-overlay {
  background: url('../src/images/footer-bg.png') no-repeat center;
  background-size: cover;
  .footer-menu-section {
    padding: 240px 0 188px;
    color: #fff;
    .container {
      padding: 0 60px;
    }
  }
}

.menu-section {
  .menu-header {
    margin: 0 0 30px;
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }
  }
}

.cta-link {
  display: flex;
  align-items: center;
  span {
    margin-right: 5px;
  }
  a {
    color: inherit;
  }
  + .cta-link {
    margin-top: 15px;
  }
}

.menu-section  {
  ul.menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    a {
      color: inherit;
      font-weight: 400;
    }
  }
}

.cpr {
  background: #2A2C38;
  color: #fff;
  padding: 30px 0;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 10px;
    gap: 10px;
    a {
      color: #1DB9B5;
      font-size: 20px;
    }
  }
}

.gen-page {
  &.theme-blue {
    .footer-overlay {
      background: url('../src/images/footer-bg-blue.png') no-repeat center;
    }
  }
}
.gen-banner {
  width: 100%;
  height: 550px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.inner-layout {
  margin-top: -280px;
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
}

.pg-banner-content {
  padding-bottom: 110px;
}

.paring-section {
  padding: 90px 50px 150px;
  background: #FFFFFF;
  box-shadow: 0px 19px 49px rgba(11, 119, 116, 0.34);
  border-radius: 20px;
}

.price-plan {
  padding: 100px 45px 30px;
  border-radius: 15px;
  .plan-head {
    margin: 0 0 16px;
    h2 {
      margin: 0;
      color: #231D4F;
      font-weight: 700;
      font-size: 46px;small {
        color: #848199;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
  .plan-content {
    h3 {
      font-size: 28px;
      font-weight: 500;
      margin: 0;
    }
    p {
      color: #848199;
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }
    ul {
      min-height: 225px;
      list-style: none;
      padding: 0;
      margin: 30px 0;
      li {
        color: #848199;
        padding: 9px 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        i {
          width: 28px;
          height: 28px;
          border-radius: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background: rgba(82, 67, 194, 0.15);
          color: #BB6BD9;
          margin-right: 15px;
          font-size: 16px;
        }
      }
    }
  }
  &.popular {
    background: #1DB9B5;
    box-shadow: 0px 65.1724px 52.7586px rgba(29, 185, 181, 0.2958);
    color: #fff;
    .plan-head {
      h2, small {
        color: inherit;
      }
    }
    .plan-content {
      p {
        color: #fff;
      }
      ul {
        li {
          color: inherit;
          i {
            color: inherit;
          }
        }
      }
    }
    .ant-tag {
      position: absolute;
      top: 30px;
      right: 45px;
      padding: 8px 24px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 25px;
    }
  }
}


.login-body {
  padding: 20px;
  .login-head {
    text-align: center;
    h2 {
      margin: 0;
      font-size: 31px;
      font-weight: 600;
    }
    p {
      color: #848484;
      font-size: 16px;
      margin: 0;
    }
  }
  .login-content {
    form {
      margin: 20px 0 50px;
    }
    label {
      color: #000;
      font-size: 16px;
    }
    .ant-btn {
      margin-top: 25px;
    }
  }
  a {
    color: #1DB9B5;
  }
  p.new-account {
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: #232628;
  }
  
}





