.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-theme,
.color-theme {
  color: #F49A26;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.ml-auto {
  margin-left: auto;
}

.mt-100 {
  margin-top: 100px;
}

.w-100 {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
}

.fw-600 {
  font-weight: 600;
}

.color-gray {
  color: #868686;
}