@import './scroll.scss';

.p-0 {
  padding: 0 !important;
}

.pb-0 {
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-12 {
  padding: 12px;
}

.text-capitalize {
  text-transform: capitalize;
}

.b-0 {
  border: 0;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.block {
  display: block;
}

.small {
  font-size: 80%;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: auto !important;
}

.justify-content-center {
  justify-content: center;
}

.text-theme,
.color-theme {
  color: #F49A26;
}

.text-green {
  color: #04D393;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #232628;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.ml-auto {
  margin-left: auto;
}

.mt-100 {
  margin-top: 100px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-3 {
  margin-right: 3px;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.w-100 {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
}

.text-underline {
  text-decoration: underline;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.color-gray {
  color: #868686 !important;
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.order-1 {
  order: 1;
}

@media (min-width: 767px) {
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-none {
    display: none;
  }
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .order-md-0 {
    order: 0;
  }
}